<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Informacion de usuarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row">
        <div class="campo col-xs-12">
          <div class="imagen cols-xs-4">
            <img src="../assets/image/cristiano.jpg" class="img-rounded" width="150" height="150" align="left">
          </div>
          <div class="text col-xs-8" >
            Cristiano Ronaldo dos Santos Aveiro, mejor conocido como Cristiano Ronaldo, es un futbolista portugués.
            Juega como extremo en el Real Madrid Club de Fútbol de la Primera División de España.
          </div>
        </div>
        </div>
        <div class="row">

          <h1> Datos personales</h1>

        <form role="form">
          <div class="campo col-xs-12">
            <div class="form-group">
              <div class="label cols-xs-6">
                <label for="ejemplo_email_1">Nombres</label>
              </div>
              <div class="text col-xs-6">
                <input type="email" class="form-control" id="nom-user"
                placeholder="Introduce tu Nombre">
              </div>
            </div>
          </div>
          <div class="campo col-xs-12">
          <div class="form-group">
            <div class="label cols-xs-4">
              <label for="ejemplo_email_1">Apellidos</label>
            </div>
              <div  class="text col-xs-8" >
                <input type="email" class="form-control" id="nom-user"
                placeholder="Introduce tu Apellido">
              </div>
          </div>
        </div>
        <div class="campo col-xs-12">
          <div class="form-group">
            <div class="label cols-xs-4">
              <label for="ejemplo_email_1">Password</label>
            </div>
              <div  class="text col-xs-8" >
                <input type="email" class="form-control" id="nom-user"
                placeholder="Password">
              </div>
          </div>
        </div>
        <div class="campo col-xs-12">
          <div class="form-group">
            <div class="label cols-xs-4">
              <label for="ejemplo_email_1">Fecha de nacimiento</label>
            </div>
              <div  class="text col-xs-8" >
                <input type="email" class="form-control" id="nom-user"
                placeholder="Fecha de nacimiento">
                </div>
          </div>
        </div>
        <div class="campo col-xs-12">
          <div class="form-group">
            <div class="label cols-xs-4">
              <label for="ejemplo_email_1">Sexo</label>
            </div>
              <div  class="text col-xs-8" >
                <input type="email" class="form-control" id="nom-user"
                placeholder="Sexo">
              </div>
          </div>
        </div>
        <div class="campo col-xs-12">
          <div class="form-group">
            <div class="label cols-xs-4">
              <label for="ejemplo_email_1">Email</label>
            </div>
              <div  class="text col-xs-8" >
                <input type="email" class="form-control" id="nom-user"
                placeholder="Email">
              </div>
          </div>
        </div>
      </form>
      <div>
        <div class="row">
          <div class="campo col-xs-12">
            <button type="button" class="btn btn-success"  >Editar</button>
            <button type="button" class="btn btn-success">Borrar</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
